.time-picker {
  margin: 10px auto;
  display: inline-flex;
  font-size: 40px;
  align-items: center;
}

.time-picker__incrementor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;

  button {
    font-size: 30px;
    background-color: inherit;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &:focus {
    outline: none;
  }
}
